<div class="container">
  <div class="row">
    <app-list 
      class="col s12 m4 l4 xl4" 
      *ngFor="let list of lists"
      [list]="list"
      (delete)="openDeleteModal($event)">
    </app-list>
  </div>
</div>

<div id="modalDelete" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="deleteModalActions">
  <div class="modal-content">
    <h4>Do you want to delete the selected List?</h4>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeDeleteModal()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="agreeDeleteModal()">Agree</a>
  </div>
</div>