<div class="container">
        <div class="row">
            <form novalidate class="col s12" [formGroup]="genericForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="label">{{formOptions.target}} name</div>
                        <input id="name" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="label">{{formOptions.target}} description</div>
                        <input id="description" type="text" formControlName="description">
                    </div>
                </div>
                <div class="row buttons">
                    <button class="btn waves-effect waves-light red" 
                        type="submit"
                        [disabled]="genericForm.invalid">
                        {{formOptions.submitText}}
                        <i class="material-icons right">send</i>
                    </button>
                
                    <button class="btn waves-effect waves-light red"
                        type="button"
                        [routerLink]="['/list']">
                        {{formOptions.cancelText}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    