<div class="card grey lighten-5">
  <div class="card-content black-text">
    <div class="card-container">
      <span class="card-title">{{list.name}}</span>
      <span class="chip">
        {{list.quantity}}
      </span>
    </div>
    <p>{{list.description}}</p>
  </div>
  <div class="card-action">
    <div class="options">
      <a>
        <i class="material-icons tooltipped"
           data-position="bottom" 
           data-delay="50" 
           data-tooltip="See Items">remove_red_eye</i>
      </a>
      <a (click)="editList()">
        <i class="material-icons tooltipped"
            data-position="bottom" 
            data-delay="50" 
            data-tooltip="Edit List Details">
            create
        </i>
      </a>
      <a (click)="deleteList()">
        <i class="material-icons tooltipped"
           data-position="bottom" 
           data-delay="50" 
           data-tooltip="Delete List">
           delete
        </i>
      </a>
    </div>
  </div>
</div>