<div class="card grey lighten-5">
    <div class="card-content black-text">
      <div class="card-container">
        <span class="card-title">{{cardData.name}}</span>
        <span *ngIf="cardType === 'List'" class="chip">
          {{cardData.quantity}}
        </span>
      </div>
      <p>{{cardData.description}}</p>
    </div>
    <div class="card-action">
      <div class="options">
        <a *ngIf="cardType === 'List'" (click)="seeCard()">
          <i class="material-icons tooltipped"
             data-position="bottom" 
             data-delay="50" 
             data-tooltip="See Items">remove_red_eye</i>
        </a>
        <a (click)="editCard()">
          <i class="material-icons tooltipped"
              data-position="bottom" 
              data-delay="50" 
              data-tooltip="Edit">
              create
          </i>
        </a>
        <a (click)="deleteCard()">
          <i class="material-icons tooltipped"
             data-position="bottom" 
             data-delay="50" 
             data-tooltip="Delete">
             delete
          </i>
        </a>
      </div>
    </div>
  </div>